<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="style.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <title>O Matador de Monstros</title>
</head>
<body>
  <div id="app">

    <h1>{{ titulo }}</h1>

    <div class="card" id="status">
      <div class="row">
        <div class="col s6" id="status-jogador">
          <span>Jogador</span>
          <div class="barra-vida">
            <div class="vida" :style="barraVidaJogador"></div>
            <div>{{ vidaJogador }} %</div>
          </div>
        </div>

        <div class="col s6" id="status-monstro">
          <span>Monstro</span>
          <div class="barra-vida">
            <div :style="barraVidaMonstro"></div>
            <div>{{ vidaMonstro }} %</div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" id="resultado-batalha" v-if="resultado !== ''">
      <h2>{{ resultado }}</h2>
    </div>

    <div class="card" id="menu-jogo" v-show="!jogoEmAndamento">
        <a class="waves-effect waves-light blue btn" @click="iniciarJogo">INICIAR NOVO JOGO</a>
    </div>

    <div class="card" id="barra-acoes" v-show="jogoEmAndamento">
        <a class="waves-effect waves-light blue btn" @click="atacar">ATAQUE</a>
        <a class="waves-effect waves-light red btn" @click="atacarComGolpeEspecial">ATAQUE ESPECIAL</a>
        <a class="waves-effect waves-light btn lime" @click="curar">CURAR</a>
        <a class="waves-effect waves-light btn" @click="desistir">DESISTIR</a>
    </div>

    <div class="card" id="historico-batalha" v-show="historicoAcoes.length > 0">
      <ul>
        <li v-for="acao in historicoAcoes"> 
          <div class="card historico-acoes" :class="acao.estilo">{{acao.menssagem}}</div>
        </li>
      </ul>
    </div>

  </div>
  <script src="app.js"></script>
</body>
</html>